
/* CONFIG GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --color-primario: #7d1d26;
}
body {
    background: url(../img/tatuador.jpg);
    background-size: cover;
    background-position: center; 
    transition: background-position-y 0.5s ease;
    /* background-position-y: 160px;  */
    background-attachment: fixed;
}
/* WHATSAP */
.wp{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9;
    width: 5rem;
    margin-right: 6rem;
    margin-bottom: 4.7rem;
    cursor: pointer;
}
.esquinaRama{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 8;
    margin-right: 2rem;
    opacity: .8;
}
/* Section 1 */
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.contenedor0boton{
    background: transparent !important;
    /* margin-left: -1.5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    margin-left: -1.6rem;
}
.contenedor2boton, .contenedor1boton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
    cursor: pointer;
}

.contenedor2boton h3, .contenedor1boton h3{
    font-size: 1.2rem;
}

.contenedor1boton{
    width: 9rem;
    border-radius: 1rem;
    background: rgb(62, 62, 62);
}

.contenedor2boton{
    /* background-color: rgb(16, 16, 16) !important; */
}
.contenedor2boton h3 {
    margin-bottom: 1.65rem;
}
.contenedor1boton h3{
    margin-top: .5rem;
}

.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-primario);
}
.bg::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/background_shadow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* NAVBAR */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
header .logo {
position: relative;
font-weight: 600;
color: transparent;
text-decoration: none;
font-size: 2em;
-webkit-text-stroke: 0.5px rgb(255, 255, 255); 
background-clip: text; 
font-family: 'Days One', sans-serif;
display: flex;
flex-direction: column;
}
header .logo p{
    font-size: 1.5rem;
    margin-bottom: -0.8rem;
    font-family: 'Days One', sans-serif;
    font-weight: 200;
    transform: scaleY(90%);
}
header .logo h5{
    font-size: 2rem;
    font-family: 'Days One', sans-serif;
    font-weight: bold; 
}

header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
}
header .navigation li a{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 40px;
    text-decoration: none;
}
header .navigation li a.active,
header .navigation li a:hover{
    background: #fff;
    color: #333;
    transition: .5s;
}
header.scroll {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    transform: scale(1.05);
    height: 4rem;
    transition: background 0.5s, transform 0.5s, height 0.5s;
    z-index: 9999;
    transition: 1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Contendor titulo, texto e img */
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .textBox {
    position: relative;
    max-width: 600px;
}
/* titulo */
.content .textBox h2{
    color: #fff;
    font-family: sans-serif; 
    font-size: 3em;
    line-height: 1.2em;
    font-weight: 700;
    -wbkit-text-stroke: 2px white;
}
/* parrafo */
.content .textBox p{
    color: #fff;
    margin-top: 20px;
}
/* boton */
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #fff;
    color: #333;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

/* imagen bote */
.content .imgBox{
    position: relative;
    z-index: 1;
    width: 600px;
    display: flex;
    justify-content: flex-end;
}
.content .imgBox img{
    max-width: 200px;
}


.thumb{
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 50px 10px;
    cursor: pointer;
    transition: 0.5s;
    height: 70px;
    background: rgba(255,255,255,0.1);
    padding: 5px;
    border: 2px solid rgba(255,255,255,0.25);
}

.thumb li.active{
    border: 2px solid rgba(255,255,255,1);
}

.textBote{
    position: absolute;
    top: -300px;
    left: -200px;
    content: attr(data-text);
    white-space: nowrap;
    font-size: 18em;
    color: rgba(255, 255, 255, 0.05);
    opacity: 0;
    font-weight: 700;
    pointer-events: none;
    transition: opacity 0.5s;
}

@keyframes movimiento{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
/* *************************************************************************************************************** */
.botonMain{
    color: white;
}
.botonMain:hover {
    color: white;
    z-index: 44;
}

/* .thumb li::before{
    position: absolute;
    top: -200px;
    left: -100px;
    content: attr(data-text);
    white-space: nowrap;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    opacity: 0;
    font-weight: 700;
    pointer-events: none;
}
.thumb li.active::before{
    opacity: 1;
} */
.thumb li img {
    max-width: 20px;
}
.sci{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.sci li a img{
    width: 30px;
}

/* /// */
/* section 2 quienes somos */
.quienesSomos{
    height: 100vh;
    overflow-y: hidden;
    background: url(../img/background_section2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.quienesSomos::before{
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.textEmpresa h2{
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: #fff;
}
.textEmpresa p{
    color: #fff;
    font-family: 'Mina', sans-serif;
    font-size: 2rem;
}


.textEmpresaDescripcion{}
.textEmpresaDescripcion img {
    width: 5rem;
}


.textEmpresaDescripcion h3,.textEmpresaDescripcion p{
    color: #fff;
}

.imghvr-flip-diag-1 figcaption{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;   
}

/* fondo del IMAGEHOVER */
[class*="imghvr-"] figcaption,
[class^="imghvr-"] figcaption {
    /* background: url(../img/tintas_blur.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(50%) !important;
    -webkit-backdrop-filter: blur(50%);
}

/* fondo detras del fondo IMAGEHOVER */
.imghvr-flip-diag-1  {
    background-color: #000000; /* Cambia esto al color que desees al hacer hover */
    transition: background-color 0.5s ease; /* Agrega una transición suave */
}

/* /// */
/* section 3 */
.servicios{
    overflow-y: hidden;
    background: none;
    height: 110vh;
    display: flex;
    width: 100%;
    flex-direction: column !important;
}

.servicios h3, .servicios p{
    text-align: center;
}
.servicios h3 i {
    border: 3px solid white;
    border-radius: 5px;
    width: 3rem;
    font-weight: bold;
    padding: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.contentCards{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.servicios .demo{
    margin-right: 20px;
    margin-left: 20px;
}

.logoFooter{
    position: absolute;
    bottom: 0;
    width: 7rem;
    z-index: 99;
}

/* section 4 */
/* contact */

#contacto{
    height: 120vh; 
    background: rgb(17, 17, 17);
    margin-top: -3.5rem;
    z-index: 1;
}


.content_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
}

.content_icon a img{
    width:4rem;
    border-radius: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 10rem;
}
.content_icon a img:hover{
    scale: 1.1;
    transition: 0.5s;
}



.columna1, .columna2, .columna3{
    margin-left: 1rem;
}
.columna1 a p{
    font-size: 1.5rem;
    margin-bottom: -0.8rem;
    font-family: 'Days One', sans-serif;
    font-weight: 200;
    transform: scaleY(90%);
}
.columna1 a h5{
    font-size: 2rem;
    font-family: 'Days One', sans-serif;
    font-weight: bold; 
}
.columna1 a {
    text-decoration: none;
    position: relative;
    font-weight: 600;
    color: transparent;
    text-decoration: none;
    font-size: 2em;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255); 
    background-clip: text; 
    font-family: 'Days One', sans-serif;
    display: flex;
    flex-direction: column;
    opacity: 0.7;
}

.content_info  {
    list-style: none;
    padding: 0; 
    margin: 0; 
    text-decoration: none; 
    color: rgb(156, 156, 156);
}

/* ********************************************************* */
@media (max-width: 991px){
    #home{
        height: 90vh;
        overflow-y: hidden;
    }

    .textBox h2 {
        margin-top: 5rem;
    }
    .esquinaRama{
        display: none;
    }
    .wp{
        margin: 2rem;
        scale: .8;
    }
    bg::before{
        display: none;
        background: url(..img/background_shadow.png);
    }
    .thumb{
        scale: .8;
    }
    header{
        padding: 20px;
    }
    section{
        padding: 20px;
        padding-bottom: 120px;
    }
    .contenedor0boton{
        display: flex !important; 
        width: 100%;
        align-items: center !important;
        justify-content: center !important;
        margin: 0;
    }
    .content{
        margin-top: 10px;
        flex-direction: column;
    }
    .content .textBox{
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .content .textBox h2{
        font-size: 2em;
        z-index: 2;
    }
    .content .imgBox{
        max-width: 100%;
        justify-content: center;
    }
    .content .imgBox img{
        margin-top: 150px;
        max-width: 150px;
        z-index: 9;
    }
    .thumb{
        height: 10rem;
        margin-bottom: -2rem;
        z-index: 9;
    }
    /* .thumb li {
    } */
    .thumb li::before{
        position: absolute;
        top: -150px;
        left: 0;
        font-size: 6em;
    }
    .textBote{
        font-size: 15em;
        margin-left: 5.5rem;
    }
    .sci {
        background: rgba(0,0,0,0);
        right: 10;
        width: 20px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    header .navigation{
        display: none;
    }
    @keyframes aparece {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    }
    header .navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(34, 34, 34, 0.6); /* Fondo semi-transparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    z-index: 999;
    transition: 1s;
    flex-direction: column;
    animation: aparece 1s ;
    }
    header .navigation li{
        margin-bottom: 20px;
    }
    .sci{
        z-index: 5;
    }
    .toggle{
        position: absolute;
        right: 0;
        margin-right: 30px;
        width: 30px ;
        height: 30px;
        cursor: pointer;
        background: url(../img/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10000;
    }
    .toggle.active{
        background: url(../img/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        position: fixed;

    }

    .bote{
        margin-right: 0;
        margin-left: 150px;
    }
    /* section 2 */
    .quienesSomos{
        display: flex;
        width: 100%;
        flex-direction: column;
        height: 150vh;
    }
    .quienesSomos::before{
        height: 120%;
    }

    .quienesSomos h2, .servicios p{
        scale: 0.8;
    }
    .quienesSomos h2{
        font-size: 2.8rem;
    }
    /* // */
    /* section 3 */
    .servicios .textEmpresa{
        margin: 10rem;
        width: 100%;
        display: flex;
        align-items: center !important;
        justify-content: center !important;
    }
    .servicios h2, .servicios p{
        scale: 0.8;
    }
    .servicios .textEmpresa{
        flex-direction: column;
        display: flex;
        height: 10rem;
    }

    .servicios{
        height: 190vh;
    }
    .contentCards{
        flex-direction: column;

    }
    .contentCards .demo figcaption h3{
        font-size: 2rem;
    }
    .contentCards .demo figcaption p{
        font-size: 1rem;
    
    }

    /* section 4 */
    /* contact */
    .content_icon{
        scale: .8;
    }
    /* rotulo */
    .rotulo{
        font-size: 0.8rem;
    }
    .columna1{
        width: 12rem !important;
    }
    .logo p, .logo h5{
        font-size: 10px;
        scale: 0.7;
        margin-left: -30px;
    }

    .columna2 {
        border: none !important;
    }
}

@media (max-width: 1300px){
    .home header .logo{
        font-size: 1.9rem;
    }
    .contenedor0boton{
        margin-left: 0;
    }
    .servicios{
        height: 200vh;
    }
    .contentCards{
        flex-direction: column;
    }
    .contentCards .demo{
        margin-bottom: 1rem;
        text-align: center;

    }
    .contentCards .demo figure img{
        width: 500px;
    }
}

.first{
    scale: 3;
    margin-right: 150px;
}

